<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Tus Eventos</title>
</head>
<body class="gradient-background">

  <div class="container mt-4">
    <div class="form-group">
      <label for="filtro">Filtrar por dirección:</label>
      <select class="form-control" [(ngModel)]="filtro" name="filtro">
        <option value=""></option>
        <option *ngFor="let lugar of obtenerLugares()" [value]="lugar">{{ lugar }}</option>
      </select>
    </div>
  </div>
  

  <h1>Próximos Eventos</h1>

  <div class="card-container">
    <div class="card" *ngFor="let evento of obtenerEventosActuales()">
      <h1>{{ evento.titulo }}</h1>
      <h2>{{ evento.artista }}</h2>
      <h3>{{ evento.fecha | date }} - {{ evento.fecha | date: 'HH:MM' }}h</h3>
      <h3>{{ evento.direccion }}</h3>
      <h2>{{ (evento.precio != 0) ? (evento.precio | currency) : "¡Gratis!" }}</h2>
    </div>

    <h3 *ngIf="obtenerEventosActuales().length == 0">Sin eventos por mostrar</h3>
  </div>

  <h1>Eventos Pasados</h1>

  <div class="card-container">
    <div class="card" *ngFor="let evento of obtenerEventosPasados()">
      <h1>{{ evento.titulo }}</h1>
      <h2>{{ evento.artista }}</h2>
      <h3>{{ evento.fecha | date }} - {{ evento.fecha | date: 'HH:MM' }}h</h3>
      <h3>{{ evento.direccion }}</h3>
      <h2>{{ (evento.precio != 0) ? (evento.precio | currency) : "¡Gratis!" }}</h2>
    </div>

    <h3 *ngIf="obtenerEventosPasados().length == 0">Sin eventos por mostrar</h3>
  </div>

</body>
</html>
